body{
		background-color:#6c1405;
		font-family: arial;	
		height: 1150px;
}
.conteudo{
	background-color:#fab287 ;
	height	:1000px 	;
}
.conteudo1{
	background-color:#fab287 ;
	height	:1300px 	;
}
.conteudo2{
	background-color:#fab287 ;
	height	:800px 	;
}
.conteudolocalizacao{
	background-color:#fab287 ;
	height	:1150px 	;
}
.subtitulo{
	color: #6c1405;
	padding-top: 35px;
}
.subtitulo2{
	padding-top: 35px;
	color: #6c1405;
}
.subtitulo3{
	color: #6c1405;
	padding-top: 45px;
}
.img1{
	padding-top: 35px;
	padding-right: 35px;
	padding-left: 55px;
}
.img2{
	padding-top: 10px;
	padding-right: 35px;
	padding-left: 21px;
}
.img3{
	padding-top: 20px;
	padding-right: 35px;
	padding-left: 21px;
	padding-bottom: 10px;
}
.img4{
	padding-top: 50px;
	padding-right: 35px;
	padding-left: 21px;
	padding-bottom: 120px;

}
.propriedades{
	padding-top: 15px;
}
.text{
	color:#fab287;
	font-weight: bold;
	font-family: Arial;
	font-size: 32px	;
}
.text2{
	font-weight: bold;
	color:#6c1405;
	font-family: Arial;
	font-size: 18px	;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 15px;
}
.text3{
	font-weight: bold;
	color:#6c1405;
	font-family: Arial;
	font-size: 18px	;
	padding-left: 75px;
	padding-right: 75px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.text4{
	font-weight: bold;
	color:#6c1405;
	font-family: Arial;
	font-size: 18px	;
	padding-left: 75px;
	padding-top: 10px;
	padding-right: 75px;
	padding-bottom: 15px;
}
.text5{
	font-weight: bold;
	color:#6c1405;
	font-family: Arial;
	font-size: 18px	;
	padding-left: 75px;
	padding-top: 10px;
	padding-right: 75px;
}
.text6{
	font-weight: bold;
	color:#6c1405;
	font-family: Arial;
	font-size: 18px	;
	padding-left: 75px;
	padding-top: 10px;
	padding-right: 75px;
}
.text7{
	font-weight: bold;
	color:#6c1405;
	font-family: Arial;
	font-size: 18px	;
	padding-left: 75px;
	padding-top: 70px;
	padding-right: 75px;
}
.text8{
	font-weight: bold;
	color:#6c1405;
	font-family: Arial;
	font-size: 18px	;
	padding-left: 75px;
	padding-top: 20px;
	padding-right: 75px;
}
.links{
	padding-top: 49px;
}
.links2{
	padding-top: 210px;
}
.links3{
	padding-top: 79px;
}
.links4{
	padding-top: 160px;
}
.rodape{
	color: #fab287;
	font-weight: bold;
	font-size: 12px;
	padding-top: 22px;
}
a{
	margin: 8px;
	color: white;
	text-align: top;
	padding-left: 6px;
	padding-right: 6px;
	font-weight: bold;
	background-color: #6c1405;
	padding-bottom: 5px;
	padding-top: 5px;
	text-decoration: none;
}
a:hover{
	margin:0;
	color: #6c1405;
	background-color: white;
	margin: 8px;
}